<div class="header">
	<!-- <mat-icon class="search-icon">search</mat-icon> -->
	<div class="cont">
        <div *ngIf="isScooterOwner && showOptions">
          <button class="butn" [ngStyle]="BtnVehicule" (click)="vehicule()">Your vehicule</button>
          <button class="butn" [ngStyle]="BtnLocation" (click)="Location()">Location</button>
          <button class="butn" [ngStyle]="BtnControlPanel" (click)="ControlPanel()">Control Panel</button>
        </div>
	</div>

	<div class="actions">
		<img class="avatar" *ngIf="profile?.image&&profile?.image!='null'; else defaultImageTemplate" [src]="env + '/user-photos/' + profile?.image"   alt="profile image"/>
		<ng-template #defaultImageTemplate>
		  <img  class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Alberto_conversi_profile_pic.jpg"  alt="profile image"/>
		</ng-template>
		<div class="hello">Hello, <span class="name">{{ name?.name }}</span></div>
		<button [matMenuTriggerFor]="menu" mat-icon-button>
			<mat-icon class="more-icon">arrow_drop_down</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="logout()">Logout</button>
		</mat-menu>
	</div>

</div>
