<div class="header">
	<mat-icon class="search-icon">search</mat-icon>
	<div class="cont">
        <div *ngIf="isScooterOwner">
          <button class="butn" [ngStyle]="BtnVehicule" (click)="vehicule()">Your vehicule</button>
          <button class="butn" [ngStyle]="BtnLocation" (click)="Location()">Location</button>
          <button class="butn" [ngStyle]="BtnControlPanel" (click)="ControlPanel()">Control Panel</button>
        </div>
	</div>

	<div class="actions">
		<img class="avatar" [src]="env + '/user-photos/' + profile?.image"/>
		<div class="hello">Hello, <span class="name">{{ name?.name }}</span></div>
		<button [matMenuTriggerFor]="menu" mat-icon-button>
			<mat-icon class="more-icon">arrow_drop_down</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="logout()">Logout</button>
		</mat-menu>
	</div>

</div>
