<div class="header">
	<mat-icon class="search-icon">search</mat-icon>
	<div class="cont">
        <div *ngIf="isScooterOwner && showOptions">
          <button class="butn" [ngStyle]="BtnVehicule" (click)="vehicule()">Your vehicule</button>
          <button class="butn" [ngStyle]="BtnLocation" (click)="Location()">Location</button>
          <button class="butn" [ngStyle]="BtnControlPanel" (click)="ControlPanel()">Control Panel</button>
        </div>
	</div>

	<div class="actions">
		<img class="avatar"
			src="https://resize.elle.fr/article/var/plain_site/storage/images/loisirs/cinema/news/avatar-2-une-premiere-bande-annonce-en-mai-4010741/96462268-1-fre-FR/Avatar-2-une-premiere-bande-annonce-en-mai.jpg" />
		<div class="hello">Hello, <span class="name">{{authUser?.userName??""}}</span></div>
		<button [matMenuTriggerFor]="menu" mat-icon-button>
			<mat-icon class="more-icon">arrow_drop_down</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="logout()">Logout</button>
		</mat-menu>
	</div>

</div>
