<div class="background">
  <div class="back"></div>
  <div class="content">
    <h1 class="big-title">Reset your Password</h1>
    <div class="message">
      <p class="text">
        We mailed you an  <b style="color: yellow;">eigh-digit</b> code to your email Enter the code and the
        new password below to reset your password account.
      </p>
    </div>
    <div class="form">
      <form [formGroup]="resetpassword" (ngSubmit)="onSubmit()">
        <mat-form-field
          class="field d-block my-2"
          color="accent"
          appearance="outline"
        >
          <mat-label for="email">Email</mat-label>
          <input
            matInput
            type="email"
            id="email"
            formControlName="email"
            placeholder="Enter your email"
          />
          <mat-error *ngIf="resetpassword.get('email')?.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="
              !resetpassword.get('email')?.hasError('required') &&
              resetpassword.get('email')?.errors
            "
          >
            Email is <strong>invalid</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field
          class="field d-block my-2"
          color="accent"
          appearance="outline"
        >
          <mat-label for="code">Code</mat-label>
          <input
            matInput
            type="text"
            id="token"
            formControlName="token"
            placeholder="Enter your Code"
          />
          <mat-error *ngIf="resetpassword.get('token')?.hasError('required')">
            Code is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="
              !resetpassword.get('token')?.hasError('required') &&
              resetpassword.get('token')?.errors
            "
          >
            Code is <strong>invalid</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field
          class="field d-block my-2"
          color="accent"
          appearance="outline"
        >
          <mat-label for="password">Password</mat-label>
          <input
            matInput
            type="password"
            id="password"
            formControlName="password"
            placeholder="Enter your password"
          />
          <mat-error
            *ngIf="resetpassword.get('password')?.hasError('required')"
          >
            Password is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="
              !resetpassword.get('password')?.hasError('required') &&
              resetpassword.get('password')?.errors
            "
          >
            Password is <strong>invalid</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="field d-block my-2"
          color="accent"
          appearance="outline"
        >
          <mat-label for="cpassword">Confirm password</mat-label>
          <input
            matInput
            type="password"
            id="cpassword"
            formControlName="cpassword"
            placeholder="Confirm password"
          />
          <mat-error
            *ngIf="resetpassword.get('cpassword')?.hasError('required')"
          >
            Password is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="
              !resetpassword.get('cpassword')?.hasError('required') &&
              resetpassword.get('cpassword')?.errors
            "
          >
            Password must <strong>match</strong>
          </mat-error>
        </mat-form-field>
        <button
          type="submit"
          class="btn btn-primary"
          style="width: 100%; border-radius: 15px"
          [disabled]=""
        >
          <span *ngIf="!loading">Reset password</span>
          <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
        </button>
      </form>
    </div>
  </div>
</div>
