<app-topbar></app-topbar>
<div class="board">
    <div class="container">
        <div class="nbSavManagers card">
            <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                    Sav Managers number
                </h5>
                <div class="data SavManger">
                    <span class="h2 font-weight-bold mb-0">{{ savManagers }}</span>
                    <div class="stat">
                        <mat-icon>equalizer</mat-icon>
                    </div>
                </div>
            </div>

        </div>
        <div class="nbSavTechnicians card">
            <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                    Sav Technicians number
                </h5>
                <div class="data SavTechnician">
                    <span class="h2 font-weight-bold mb-0"> {{ savTechnicians }} </span>
                    <div class="stat">
                        <mat-icon>equalizer</mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="nbScooterOwners card">
            <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                    Scooter Owners number
                </h5>
                <div class="data ScooterOwners">
                    <span class="h2 font-weight-bold mb-0"> {{ scooterOwners }}</span>
                    <div class="stat">
                        <mat-icon>equalizer</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="nbScooters card">
            <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                    Scooters number
                </h5>
                <div class="data Scooters">
                    <span class="h2 font-weight-bold mb-0">{{bikes}}</span>
                    <div class="stat">
                        <mat-icon>equalizer</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="claimsPercentage card">
            <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                    Claims Done
                </h5>
                <div class="data SavTechnician">
                    <span class="h2 font-weight-bold mb-0">{{percentage | number:'1.2-2'}} %</span>
                    <div class="stat">
                        <mat-icon>equalizer</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="claims">
			
            <div class="col-7 chart">
                <h5 class="card-title text-uppercase text-muted mb-0">
                    Claims Statistics
                </h5>
                <div class="claimsChart">
                    <div echarts [options]="options"style="height:300px"></div>
                </div>
            </div>

            <div class="col-5 callbacks">
				<h5 class="card-title text-uppercase text-muted mb-0">
                    Callbacks
					<div class="no-callbacks text-center mt-4 bg-light p-4" *ngIf="callbacks.length == 0">
						<span >No callbacks</span>
					</div>
					<div class="callbacks-list" *ngIf="callbacks.length > 0">
						<div class="callbacks-list-item" *ngFor="let callback of callbacks">
							<div class="callbacks-list-item-action">
								<button class="callback-btn"(click)="changeCallbackCalledStatus(callback._id,true)">
									<mat-icon>done</mat-icon>
								</button>
								{{callback.user.name}}
							</div>
							<div class="callbacks-list-item-content">
								<span class="callback-date">{{callback.created | date:"short"}}</span>
							</div>
						</div>
					</div>
                </h5>
            </div>
        </div>
    </div>
</div>
