<div class="h-100 gradient-form">
	<div id="tosh" class=" col-lg-8 toshow" [ngClass]="showRegister ? 'toshow-right' : 'toshow-left'">
		<div class="register" *ngIf="showRegister">
			<div class="  gradient-custom-2">
				<div class="container">
					<div class="title">
						<h1 class="text-center">Sign up</h1>
					</div>
					<div class="card-body">
						<form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
							<div class="form-outline mb-4">
								<label class="form-label">Name</label>
								<div class="input-container">
									<mat-icon class="icon col-4">person</mat-icon>
									<input class="input" matInput placeholder="Enter your name"
										[formControl]="nameRegister" required name="name">
								</div>
								<mat-error *ngIf="nameRegister.invalid">{{getNameErrorMessageRegister()}}</mat-error>
							</div>
							<div class="form-outline mb-4">
								<label class="form-label">Email</label>
								<div class="input-container">
									<mat-icon class="icon col-4">email</mat-icon>
									<input class="input" matInput placeholder="Enter your email address"
										[formControl]="emailRegister" required name="email">
								</div>
								<mat-error *ngIf="emailRegister.invalid">{{getEmailErrorMessageRegister()}}</mat-error>
							</div>
							<div class="form-outline mb-4">
								<label class="form-label">UserName</label>
								<div class="input-container">
									<mat-icon class="icon col-4">person</mat-icon>
									<input class="input" matInput placeholder="Enter your userName"
										[formControl]="userNameRegister" required name="username">
								</div>
								<mat-error *ngIf="userNameRegister.invalid">{{getUserNameErrorMessageRegister()}}
								</mat-error>
							</div>
							<div class="form-outline mb-4">
								<label class="form-label">Role</label>
								<div class="input-container">
									<mat-icon class="icon col-4">person</mat-icon>
									<mat-select class="input" matInput placeholder="Select your role"
										[formControl]="roleInputRegister" required>
										<mat-option *ngFor="let role of roles" [value]="role.name">{{role.name}}
										</mat-option>
									</mat-select>
								</div>
								<mat-error *ngIf="roleInputRegister.invalid">{{getRoleErrorMessageRegister()}}
								</mat-error>
							</div>
							<div class="form-outline mb-4">
								<label class="form-label">Password</label>
								<div class="input-container">
									<mat-icon class="icon col-4">lock</mat-icon>
									<input class="input" matInput [type]="hideRegister ? 'password' : 'text'"
										placeholder="Enter your password" formControlName="passwordRegister"
										[formControl]="passwordRegister" required name="password">
									<button mat-icon-button matSuffix (click)="hideRegister = !hideRegister"
										[attr.aria-label]="'Hide passwordRegister'" [attr.aria-pressed]="hideRegister">
										<mat-icon>{{hideRegister ? 'visibility_off' : 'visibility'}}</mat-icon>
									</button>
								</div>
								<mat-error *ngIf="passwordRegister.invalid">{{getPasswordErrorMessageRegister()}}
								</mat-error>
							</div>
							<div class="form-outline mb-4">
								<label class="form-label">Confirm Password</label>
								<div class="input-container">
									<mat-icon class="icon col-4">lock</mat-icon>
									<input class="input" matInput [type]="hideConfirmRegister ? 'password' : 'text'"
										formControlName="confirmPasswordRegister" placeholder="Confirm your password"
										[formControl]="ConfirmPasswordRegister" required name="password">
									<button mat-icon-button matSuffix
										(click)="hideConfirmRegister = !hideConfirmRegister"
										[attr.aria-label]="'hideConfirmRegister password'"
										[attr.aria-pressed]="hideConfirmRegister">
										<mat-icon>{{hideConfirmRegister ? 'visibility_off' : 'visibility'}}</mat-icon>
									</button>
								</div>
								<mat-error *ngIf="ConfirmPasswordRegister.invalid">
									{{getConfirmPasswordRegisterErrorMessage()}}
								</mat-error>
							</div>
							<!-- <div class="forgotPass">
								<div class=" pt-1 mb-5 pb-1">
									<a class="text-muted" href="#!">Forgot password?</a>
								</div>
							</div> -->
							<button class="btn btn-primary"
								style="width:100% ;border-radius: 15px;display:flex;justify-content: center;"
								type="submit" [disabled]="registerLoading">
								<div *ngIf="!registerLoading">
									Register
								</div>
								<mat-spinner diameter="25" class="" *ngIf="registerLoading"></mat-spinner>
							</button>
							<div class="text-center">
								<!-- p or continue with -->
								<p class="small pt-3">or continue with</p>
								<div class="row">
									<div class="col-6">
										<img src="./assets/img/Facebook_Logo_(2019).png.webp" alt="facebook"
											style="width: 40px;">
									</div>
									<div class="col-6">
										<img src="./assets/img/Google__G__Logo.svg.webp" alt="google"
											style="width: 40px;">
									</div>
								</div>
								<div class="register-btn mt-5">
									<p>You don't have an account ? <button (click)="showLogin()">login here !</button>
									</p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="login" *ngIf="showLoginF">
			<div class="  gradient-custom-2">
				<div class="container">
					<div class="title">
						<h1 class="text-center">Login</h1>
					</div>
					<div class="card-body">
						<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
							<div class="text-center">
								<!-- <mat-error *ngIf="unauthenticated">Invalid username or password</mat-error> -->
								<!-- <mat-error *ngIf="loginError">{{loginError}}</mat-error> -->
							</div>
							<div class="form-outline mb-4">
								<label class="form-label">Email</label>
								<div class="input-container">
									<mat-icon class="icon col-4">email</mat-icon>
									<input matInput placeholder="Enter your email address" [formControl]="username"
										formControlName="username" required name="email">
								</div>
								<mat-error *ngIf="username.invalid">{{getEmailErrorMessage()}}</mat-error>
							</div>

							<div class="form-outline mb-4">
								<label class="form-label">Password</label>
								<div class="input-container">
									<mat-icon class="icon col-4">lock</mat-icon>
									<input matInput [type]="hide ? 'password' : 'text'"
										placeholder="Enter your password" [formControl]="password"
										formControlName="password" required name="password">
									<button mat-icon-button matSuffix (click)="hide = !hide"
										[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
										<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
									</button>
								</div>
								<mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
							</div>
							<div class="forgotPass">
								<div class="form-group form-check">
									<input type="checkbox" class="form-check-input" id="exampleCheck1">
									<label class="form-check-label" for="exampleCheck1">Check me out</label>
								</div>
								<div class=" pt-1 mb-5 pb-1">
									<a class="text-muted" href="#!">Forgot password?</a>
								</div>
							</div>
							<button class="btn btn-primary"
								style="width:100% ;border-radius: 15px;display:flex;justify-content: center;"
								type="submit">
								<div *ngIf="!loginLoading">
									Login
								</div>
								<mat-spinner diameter="25" class="" *ngIf="loginLoading"></mat-spinner>
							</button>
							<div class="text-center">
								<!-- p or continue with -->
								<p class="small pt-3">or continue with</p>
								<div class="row">
									<div class="col-6">
										<img src="./assets/img/Facebook_Logo_(2019).png.webp" alt="facebook"
											style="width: 40px;">
									</div>
									<div class="col-6">
										<img src="./assets/img/Google__G__Logo.svg.webp" alt="google"
											style="width: 40px;">
									</div>
								</div>
								<div class="register-btn mt-5">
									<p>You don't have an account ? <button (click)="ShowRegister()">Register here
											!</button></p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="row" id="other-part">
		<div class="col-lg-5 text-start pt-3 px-3 h-100">
			<img *ngIf="ShowRegister" src="./assets/logo.png" alt="" style="width: 20%;">
		</div>
		<div class="col-lg-2"></div>
		<div class="col-lg-5 text-end pt-3 px-4 h-100">
			<img *ngIf="showLoginF" src="./assets/logo.png" alt="" style="width: 20%;">
		</div>
	</div>
</div>