/* color variable  */
$main-bg-color: rgb(33,39,47);
$main-text-color: rgb(255,255,255);
$secondary-text-color: rgb(53,77,120);
$main-component-color: rgb(39,49,71);
$secondary-bg-color: rgb(174, 189, 221);
$secondary-component-color: #27324A;
$bg-icons-color: rgb(53,77,120);
$icons-active-color: rgb(255,255,255);
$icons-color: rgb(185, 185, 185);
$border-radius: 9px;
$gradient: linear-gradient(to right, #29375B, #21272D);