<!-- <div style="height: 300px;"
     leaflet
     [leafletOptions]="options"
     [leafletLayersControl]="layersControl">
</div> -->
<div class="map-container">
  <h2 class="card-header" style="font-size:bold ;">Localization</h2>
    <div class="map-frame">
      <div id="map">
    </div>
    <div class="buttons text-center">
      <button class="btn btn-primary" (click)="MyPosition()">My Position</button>
      <button class="btn btn-primary" (click)="BikePosition()">Bike Position</button>
      <button class="btn btn-primary" (click)="CenterMap()">Bound map</button>
    </div>
    </div>
</div>
