<mat-drawer-container class="root-container">
	<mat-drawer #drawer class="sidenav" mode="side" opened="true">
		<div class="logo" [ngClass]="{'open':isExpanded}">
			<img src="assets/logo.png" alt="logo pixii">
			<div class="slogan">ride the future</div>
		</div>

		<div class="separator"></div>
		<!-- <mat-nav-list class="dashboard">
		</mat-nav-list> -->

		<mat-nav-list class="dashboard">
			<a [matTooltip]="isExpanded? '' : 'Dashboard'" matTooltipPosition="right" mat-list-item class="my-3" (click)="toggleActive('/')">
				<div matLine class="item" [ngClass]="{'active': current === '/','open':isExpanded}">
					<mat-icon class="icon">grid_view</mat-icon>
					<p *ngIf="isExpanded">
						Dashboard
					</p>
				</div>

			</a>

			<a mat-list-item class="my-3" (click)="toggleActive('/profile')">
				<div matLine class="item" [ngClass]="{'active': current === '/profile','open':isExpanded}">
					<mat-icon class="icon">person</mat-icon>
					<p *ngIf="isExpanded">Profile</p>
				</div>
			</a>

			<a [matTooltip]="isExpanded? '' :'Affect claims'" matTooltipPosition="right" *ngIf="authState.isSAVManager || authState.isSuperAdmin" mat-list-item class="my-3" (click)="toggleActive('/chef')">
				<div matLine class="item" [ngClass]="{'active': current === '/chef','open':isExpanded}">
					<mat-icon class="icon">move_down</mat-icon>
					<p *ngIf="isExpanded">Affect Claims</p>
				</div>
			</a>
			<a [matTooltip]="isExpanded? '' : 'Claims'" matTooltipPosition="right" *ngIf="authState.isSAVManager||authState.isSAVTechnician || authState.isSuperAdmin" mat-list-item class="my-3" (click)="toggleActive('/claims')">
				<div matLine class="item" [ngClass]="{'active': current === '/claims','open':isExpanded}">
					<mat-icon class="icon">recycling</mat-icon>
					<p *ngIf="isExpanded">Claims</p>
				</div>
			</a>

			<a mat-list-item class="my-3" [matTooltip]="isExpanded? '' :'My claims'" *ngIf="authState['isScooterOwner'].isScooterOwner"  matTooltipPosition="right" (click)="toggleActive('/myclaims')">
				<div matLine class="item" [ngClass]="{'active': current === '/myclaims','open':isExpanded}">
					<mat-icon class="icon">feed</mat-icon>
					<p *ngIf="isExpanded">My claims</p>
				</div>
			</a>
      <a mat-list-item class="my-3" (click)="toggleActive('/manageUsers')" *ngIf="authState.isAdmin || authState.isSuperAdmin" >
				<div matLine class="item" [ngClass]="{'active': current === '/manageUsers','open':isExpanded}">
					<mat-icon class="icon">group</mat-icon>
					<p *ngIf="isExpanded">Manage Users</p>
				</div>
			</a>


			<a mat-list-item class="last-item" (click)="
				isExpanded = !isExpanded;
			">
				<div matLine class="item active">
					<mat-icon class="icon">
						{{isExpanded ? 'arrow_left' : 'arrow_right'}}
					</mat-icon>
				</div>
			</a>

		</mat-nav-list>
	</mat-drawer>

	<div class="content" [ngStyle]="{'padding-left': isExpanded ? '50px' : ''}">
		<ng-content></ng-content>
	</div>

</mat-drawer-container>
