@import '../../app.component.scss';
.content{
	height: 100%;
}
.root-container {

	background-color: $main-bg-color;
	color: $main-text-color;
	height: 100%;
	width: 100%;
	.example-sidenav-content {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
	  }
	  
	  .sidenav {
		max-width: 250px;
		padding: 20px;
		background-color: $main-component-color;
		.logo{
			img{
				width: 52px;
				height: 44px;
			transition: all 0.3s ease-in;

			}
			&.open{
				img{
					width: 100px;
					height: 82px;
				}
			}
			.slogan{
				margin-top: 5px;
				color: $main-text-color;
				font-size: 9px;
				text-transform: uppercase;
				font-weight: 600;

			}
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
		.separator{
			margin-top: 5px;
			margin-bottom: 5px;
			border-bottom: 0.5px solid rgba(255, 255, 255, 0.08);
		}
		.items{
			margin-top: 25px;
			margin-bottom: 25px;
			background-color: $main-component-color;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.item{
			// 2 colls
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 56px;
			min-height: 55px;
			margin : 10px 0px;
			width: auto;
			height: auto;
			border-radius: 12px;
			&.open{
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-items: center;
				justify-items: start;
				.icon{
					margin-left: 18px;
				}
				p{
					padding-right: 8px;
				}
			}
			.icon{
				color: $icons-color;
				// center icon
				display: flex;
				align-self: center;
				align-items: center;
				justify-content: center;
				font-size: 30px;
			}
			&.active{
				background-color: $bg-icons-color;
				.icon{
					color: $icons-active-color;
				}
				p{
					color: $main-text-color;
				}
			}
			p{
				font-size: 14px;
				font-weight: 600;
				margin-bottom: 0px;
				color: $icons-color;
			}
		}
	}


	  
}
.last-item{
	position: absolute;
	bottom:0;
	left: 0;
	margin-bottom: 20px;
}