<div class="container">
    <div class="controle">
        <div class="circles">
          <div class="average">
            <div class="average-second">
                <div class="average-third">
                    12.5 Km/h
                </div>
            </div>
          </div>
          <div class="distance">
            <div class="distance-second">
                <div class="distance-third">
                    92581 Km
                </div>
            </div>

          </div>
        </div>
        <div class="buttons">
            <div class="control-btn">
                <div class="btn-group">
                  <button class="btn"><mat-icon class="icon">lock_open</mat-icon></button>
                  <div class="text">Unlock</div>
                </div>
                <div class="btn-group">
                  <button class="btn"><mat-icon class="icon">lock</mat-icon></button>
                  <div class="text">Lock</div>
                </div>
            </div>
            <div class="control-btn">
                <div class="btn-group">
                    <button class="btn"><mat-icon class="icon">flash_off</mat-icon></button>
                    <div class="text">Light off</div>
                  </div>
                  <div class="btn-group">
                    <button class="btn"><mat-icon class="icon">flash_on</mat-icon></button>
                    <div class="text">Light On</div>
                  </div>

            </div>
            <div class="control-btn">
                <div class="btn-group">
                    <button class="btn"><mat-icon class="icon">notifications_off</mat-icon></button>
                    <div class="text">Alarm off</div>
                </div>
                <div class="btn-group">
                    <button class="btn"><mat-icon class="icon">notifications_active</mat-icon></button>
                    <div class="text">Alarm On</div>
                </div>
            </div>
        </div>
    </div>
    <div class="infos">
        <img src="./assets/tyre.png" alt="infos">
    </div>

</div>
